.form {
    display: flex;
    gap: 1em;
}
input {
    background-color: $Dark1Color;
    width: 50%;
    padding: 1em;
    color: $GrayColor;
    border-radius: .5em;
    font-size: 1.3em;
}

button {
    background: $Dark2Color;
    padding: 0 .7em;
    @extend %button;

    &:hover {
      background: $InstagramLinearColor;
      transform: scale(1.1);
    }
}
