.container_register {
    display: flex;
    height: 100vh;
    font-family: $font;
}

.container_form {
    width: 50%;
    background-color: $Dark2Color;  
}

.register_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4em;
      h1 {
        color: $Ohisawhitecolor;
        letter-spacing: .1em;
        margin-top: .5em;
        font-size: 3.5em;
      }
    
      h3 {
        letter-spacing: .1em;
        color: $Ohisawhitecolor;
        font-size: 2em;
      }
      input {
        background-color: $Dark1Color;
        width: 50%;
        padding: 1em;
        color: $GrayColor;
        border-radius: .5em;
        font-size: 1.3em;
      }
      button {
        background: $Dark2Color;
        @extend %button;
      }
    .logo {
        height: 7em;
        width: 7em;
        background: $InstagramRadialColor;
        border-radius: 30%;
        position: relative;
    
        &:before {
          content: "";
          background-color: $Ohisawhitecolor;
          width: 1em;
          height: 1em;
          left: 4.5em;
          right: 0;
          position: absolute;
          top: 1.6em;
          bottom: 0;
        }
    
        &:after {
          content: "";
          border: .7em solid $Ohisawhitecolor;
          border-radius: 100%;
          width: 3.1em;
          height: 3.1em;
          left: 0;
          right: .5em;
          position: absolute;
          margin: auto;
          top: 2em;
          bottom: 0;
        }
      }
    
      span {
        content: "";
        background-color: $Ohisawhitecolor;
        width: .6em;
        height: 2.7em;
        right: 2.2em;
        position: absolute;
        margin: auto;
        top: 1.6em;
      }
}

.register_image {
    width: 50%;
    height: 100%;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../../assets/Portada.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 4em 0 0;
    p {
        font-size: 2em;
      }
      button {
        background: $InstagramRadialColor;
        @extend %button;
      }
}

.register_message {
    h3 {
        font-size: 2.5em;
    }
}

