@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

$Dark1Color:#000000;
$Dark2Color:#161616;
$GrayColor:#9CA3AF;
$InstagramRadialColor: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
$InstagramLinearColor: linear-gradient(45deg, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf) 1;
$Ohisawhitecolor: #FFFFFF;
$font: 'Playfair Display', serif;