.navbar {
    display: flex;
    width: 20%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
}

.navlist {
    display: flex;
    flex-direction: column;
    gap: 2em;
}